<div class="mb-25 border-bottom row" style="padding-bottom:8px;">
  <div class="col-9 mb-5 mt-3">
    <h4 class="mb-2">{{job['title']}}</h4>
    <div><b>Location:</b>{{job['location']}}</div>
    <div><b>Salary:</b>{{job['salary']}}</div>
  </div>
 <div class="col-3">
    <a href=" mailto:example@example.com?subject=Application%20for%20{{job['title']}}&body=My%20Name%3A%20%3CYour%20Name%3E%0D%0AMy%20Resume%20link%3A%20%3Cyour%20Resume%20Link%3E%0D%0AMy%20LinkedIn%20link%3A%3Clinkedin%20link%3E%0D%0A%0D%0A " type="button" class="btn btn-outline-primary mt-5">Apply</a>
 </div>
    </div>

